<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93092605-1', 'auto');
    ga('send', 'pageview');

</script>

<style>
    /* upload section */
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        height: 65px;
        text-align: center;
        padding-top: 25px;
        margin: 10px;
    }

    /* Google maps search */
    #pac-input #pac-input_tips #pac-input_tracks {
        margin-top: 10px;
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
        height: 30px;
    }

    /* List of map drawing items */
    ol {
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* Remove default numbering */
        *list-style: decimal; /* Keep using default numbering for IE6/7 */
        font: 15px 'trebuchet MS', 'lucida sans';
        padding: 0;
        margin-bottom: 4em;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    }

    ol ol {
        margin: 0 0 0 2em; /* Add some left margin for inner lists */
    }

    .rounded-list a {
        width: 240px;
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: #ddd;
        color: #444;
        text-decoration: none;
        border-radius: .3em;
        transition: all .3s ease-out;
    }

    .rounded-list a:hover {
        background: #eee;
    }

    .rounded-list a:hover:before {
        transform: rotate(360deg);
    }

    .rounded-list a:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #87ceeb;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        transition: all .3s ease-out;
    }

    /* End of map drawing items */

    * {
        box-sizing: border-box;
    }

    .container {
        display: flex;
        width: auto;
        justify-content: space-between;
    }

    .map-right-places {
        /* background: #049500; */
        height: 70%;
        overflow: scroll;
        width: 350px;
    }

    .map-center-places {
        /*  background: #049500; */
        height: 70%;
        flex: 5;
        padding: 25px;
        margin-right: 10px;
    }

    .left-map-places {
        /* background: #f970bd; */
        height: 70%;
        /*flex: 1;*/
        /*margin-right: 10px;*/
        overflow: scroll;
        width: 350px;
    }

    .left-map-tips {
        /* background: #f970bd; */
        height: 70%;
        flex: 1;
        padding: 25px;
        margin-right: 10px;
    }

    .map-center-tips {
        /*  background: #049500; */
        height: 70%;
        flex: 5;
        padding: 25px;
        margin-right: 10px;
    }

    .map-right-tips {
        order: 1;
        /* background: #ff5423; */
        padding: 25px;
        margin-right: 10px;
    }

    /* Tracks section */

    /*   .container div:not(.map_right) { !* not(.fruits)
           order: 1;
           !* flex: 0 0 calc(50% - 10px); *!
           flex: 0 0 350px;
       }*/

    /* Slider button */
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }



</style>

<div id="tripDetailsSection" style="margin-right: 150px; margin-left: 150px">

    <wizard on-finish="finishedWizard()" indicators-position='top'>

        <wz-step wz-title="Trip details">
            <div style="margin-right: 400px; margin-left: 400px">
                <h1>Enter trip details</h1>

                <div style="height: 70%">

                    <!--
                    <p>The input's valid state is:</p>
                    <h1>{{form.inputStartDate.$valid}}</h1>
                    -->
                    <form name="form">
                        <div class="form-group">
                            <label for="tripNameLabel">Trip name *</label>
                        <textarea name="name" ng-model="trip.name" class="form-control" id="tripNameLabel" rows="1"
                                  required></textarea>
                        </div>

                        <div>
                            <label>Start date *</label>
                            <!-- MMMM d, y' -->
                            <datepicker date-format="yyyy-MM-dd" datepicker-append-to-body=true>
                                <input name="inputStartDate" ng-model="trip.dateStart" class="form-control"
                                       type="date" required/>
                            </datepicker>
                        </div>

                        <div>
                            <label>End date *</label>
                            <datepicker date-format="yyyy-MM-dd">
                                <!--    style="position: absolute; width: 100px; height: 150px;"> -->
                                <input name="inputEndDate" ng-model="trip.dateEnd" type="date" class="form-control"
                                       ng-blur="onBlur($event)" required/>
                            </datepicker>
                        </div>

                        <div class="form-group">
                            <label for="continentSelect">Choose continent *</label>
                            <select name="continent" ng-model="trip.continents" class="form-control"
                                    id="continentSelect">
                                <option>Africa</option>
                                <option>Europe</option>
                                <option>Asia</option>
                                <option>Middle East</option>
                                <option>North America</option>
                                <option>South America</option>
                                <option>Antarctica</option>
                                <option>Australia</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="tripTypeSelect">Trip type *</label>
                            <select name="type" ng-model="trip.type" class="form-control" id="tripTypeSelect">
                                <option>Family</option>
                                <option>Solo</option>
                                <option>Friends</option>
                                <option>Group Tour</option>
                                <option>Caravan</option>
                                <option>Event Travel</option>
                                <option>Business Travel</option>
                                <option>Holiday</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="descriptionTextArea">Trip description</label>
                        <textarea maxlength="150" name="description" ng-model="trip.description" class="form-control"
                                  id="descriptionTextArea"
                                  rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="coverPhotoInput">Cover photo</label>
                            <input type="file" class="form-control-file" id="coverPhotoInput"
                                   aria-describedby="fileHelp">
                            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help
                                text
                                for
                                the above input. It's a bit lighter and easily wraps to a new line.
                            </small>
                        </div>

                        <legend>Options</legend>

                        <!-- Rounded switch -->
                        <div><label>Public</label></div>
                        <div>
                            <label class="switch">
                                <input type="checkbox" ng-model="trip.public" value="false">
                                <div class="slider round"></div>
                            </label>
                        </div>

                        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                    </form>
                </div>

            </div>


            <input type="submit" wz-next value="Next" class="btn btn-primary" ng-click="addTrip()"
                   ng-disabled="trip.buttonDisabled"/>
            <input type="submit" value="Cancel" class="btn btn-danger" ng-click="showConfirm($event)"/>
        </wz-step>


        <wz-step wz-title="Trip photos">
            <h1>Upload your trip photos</h1>

            <div style="height: 65%" ngf-drop ngf-select ng-model="files" class="drop-box"
                 ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">

                <div style="height: 70%" ngf-drop ngf-select ng-model="files.files" class="drop-box"
                     ngf-drag-over-class="dragover"
                     ngf-multiple="true" ngf-allow-dir="true" accept="image/*">Drop images here
                    or click to upload
                </div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                Files:
                <ul>
                    <li ng-repeat="f in files.files" style="font:smaller">{{f.name}}</li>
                </ul>
                Upload Log:
                <pre>{{log}}</pre>

            </div>

            <div style="text-align:center;">
                <input type="submit" value="Upload" class="btn btn-primary" ng-click="upload()"/>
            </div>

            <input type="submit" wz-next value="Next" class="btn btn-primary" ng-click="startMapDrawing()"/>
            <input type="submit" value="Cancel" class="btn btn-danger" ng-click="showConfirm($event)"/>
        </wz-step>


        <wz-step wz-title="Trip Places and Routes">

            <h1 >Places</h1>

            <div class="container">
                <!-- Places -->
                <div class="left-map-places">
                    <div ng-cloak layout-gt-sm="row" layout="column">
                        <div flex-gt-sm="100" flex>
                            <md-toolbar layout="row" class="md-hue-3">
                                <div class="md-toolbar-tools">
                                    <label class="md-raised" style="position: fixed; font-weight:400">Places
                                    </label>
                                </div>
                            </md-toolbar>

                            <md-content>
                                <md-list flex>
                                    <!-- <md-subheader class="md-no-sticky">Trip tips</md-subheader> -->
                                    <md-list-item class="md-3-line" ng-repeat="place in nearbyPlaces"
                                                  ng-click="">
                                        <!-- <img ng-src="{{place.icon}}" class="md-avatar"/> -->
                                        <img ng-src="{{place.picture.data.url}}" class="md-avatar"/>

                                        <div class="md-list-item-text" layout="column">
                                            <h3>{{place.name}}</h3>
                                            <!--  <h4>{{ place.formatted_address }} </h4> -->
                                            <h4>Check-Ins: {{place.checkins}} </h4>
                                            <p>
                                                <!--<a ng-href="{{place.url}}" target="_blank">Read more...</a>-->
                                                <a ng-href="{{place.link}}" target="_blank">Read more...</a>
                                            </p>
                                        </div>
                                        <md-button class="md-icon-button" aria-label="More"
                                                   ng-click="removePlace(place.firebase_key)">
                                            <img src="assets/icons/ic_delete_forever_black_24dp_1x.png"></img>
                                        </md-button>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </div>
                    </div>
                </div>
                <div class="map-center-places">
                   <!-- <div class="form-group" style="width: 200px; display: flex">

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Distance</label>
                            <md-select ng-model="places_settings.facebook_distance">
                                <md-option>
                                    <md-option value="100">100</md-option>
                                    <md-option value="200">200</md-option>
                                    <md-option value="300">300</md-option>
                                    <md-option value="400">400</md-option>
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Limit</label>
                            <md-select ng-model="places_settings.facebook_limit">
                                <md-option>
                                    <md-option value="1">1</md-option>
                                    <md-option value="2">2</md-option>
                                    <md-option value="3">3</md-option>
                                    <md-option value="4">4</md-option>
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div>
                        <button type="button" class="btn btn-success" style="width: 100%" ng-click="changedValue()">Update settings</button>
                    </div>



                </div>-->
                    <iframe id="iframe_drawing" style="width: 100%; height: 100%">
                        <!-- Map -->
                    </iframe>
                </div>
                <div class="map-right-places">
                    <div ng-cloak layout-gt-sm="row" layout="column">
                        <div flex-gt-sm="100" flex>
                            <md-toolbar layout="row" class="md-hue-3">
                                <div class="md-toolbar-tools">
                                    <md-switch class="md-primary" ng-model="routes_settings.enable_routes_map" aria-label="Enable/Disable Routes" ng-change="routesOnMap(routes_settings.enable_routes_map)">
                                        Routes
                                    </md-switch>
                                    <md-button class="md-raised" ng-show="add_new_route_flag" ng-click="new_route_separator()">
                                        New Route
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-content>
                                <md-list flex>
                                    <!-- <md-subheader class="md-no-sticky">Trip tips</md-subheader> -->
                                    <md-list-item class="md-1-line" ng-repeat="route in routes_list track by $index"
                                                  ng-click="" ng-show="routes_settings.enable_routes_map">
                                        <!-- <img ng-src="" class="md-avatar"/> route icon -->
                                        <img ng-src="assets/icons/ic_traffic_black_24dp_1x.png" class="md-avatar"/>
                                        <div class="md-list-item-text" layout="column">
                                            <h4 style="font-weight:normal">Summary: {{route.routes[0].summary}}</h4>
                                            <h5 style="font-weight:normal">Key:{{route.firebase_key}} </h5>
                                        </div>
                                        <md-button class="md-icon-button" aria-label="Delete"
                                                   ng-click="removeRoute(route)">
                                            <img ng-show="$first" src="assets/icons/ic_delete_forever_black_24dp_1x.png"></img>
                                        </md-button>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div>

            <input type="submit" wz-next value="Next" class="btn btn-primary" ng-click="startMapTips()"/>
            <input type="submit" value="Cancel" class="btn btn-danger" ng-click="showConfirm($event)"/>
        </wz-step>
        <!--
        <ol class="rounded-list">
            <li><a href="javascript:void(0)">Markers</a>
                <ol>
                    <li ng-repeat="marker in markers track by $index"
                        ng-click="highLightItem(marker.get('type'),marker.get('id'))"><a href="">{{marker.get('id')}}
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"
                          ng-click="deleteItemFromMap(marker.get('type'),marker.get('id'))"> </span>
                    </a></li>
                </ol>
            </li>
            <li><a href="javascript:void(0)">Polylines</a>
                <ol>
                    <li ng-repeat="polyline in polylines track by $index"
                        ng-click="highLightItem(polyline.get('type'),polyline.get('id'))"><a href="">{{polyline.get('id')}}
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"
                          ng-click="deleteItemFromMap(polyline.get('type'),polyline.get('id'))"> </span>
                    </a></li>
                </ol>
            </li>
            <li><a href="javascript:void(0)">Circles</a>
                <ol>
                    <li ng-repeat="circle in circles track by $index"><a
                            ng-click="highLightItem(circle.get('type'),circle.get('id'))">{{circle.get('id')}}
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"
                          ng-click="deleteItemFromMap(circle.get('type'),circle.get('id'))"> </span>
                    </a></li>
                </ol>
            </li>
        </ol>
        -->


        <wz-step wz-title="Trip tips">
            <h1>Tips</h1>


            <div class="container">

                <div class="left-map-tips">
                    <!-- Tips -->
                    <div ng-cloak layout-gt-sm="row" layout="column">
                        <div flex-gt-sm="100" flex style="width: 400px">
                            <md-toolbar layout="row" class="md-hue-3">
                                <div class="md-toolbar-tools" style="width: 400px">
                                    <!--
                                    <a ng-click="information_panel = false;" style="float: left;" type="button"
                                       class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </a>
                                    -->
                                    <label class="md-raised">Tips
                                    </label>
                                </div>
                            </md-toolbar>
                            <md-content>
                                <md-list flex>
                                    <!-- <md-subheader class="md-no-sticky">Trip tips</md-subheader> -->
                                    <md-list-item class="md-3-line" ng-repeat="message in messages"
                                                  ng-click="showMessageOnMap(message)">
                                        <img ng-src="assets/icons/ic_message_black_48px.svg" class="md-avatar"/>
                                        <div class="md-list-item-text" layout="column" style="word-wrap: break-word;">
                                            <h3 ng-if="message.message.tip">{{ message.message.tip }}</h3>
                                            <h3 ng-if="message.message.risk">{{ message.message.risk }}</h3>
                                            <h3 ng-if="message.message.price">{{ message.message.price }}</h3>
                                            <h3 ng-if="message.message.invite">Invitation to join me..</h3>
                                            <h4>{{message.time | date:'medium'}} </h4>
                                            <!-- <p>{{ item.notes }}</p> -->
                                        </div>

                                        <md-button class="md-icon-button" aria-label="More"
                                                   ng-click="remove_tip(message)">
                                            <img src="assets/icons/ic_delete_forever_black_24dp_1x.png"></img>
                                        </md-button>

                                        <md-divider></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </div>
                    </div>


                </div>

                <div class="map-center-tips">
                    <iframe id="iframe_tips" style="width: 100%; height: 100%;">
                        <!-- mnow map div injected from code
                        <div id="map_tips" style="height: 100%; height: 100%"></div>
                        <input id="pac-input_tips" class="controls" type="text" placeholder="Search Box">
                        -->
                    </iframe>
                </div>

                <div class="map-right-tips">
                    <div>
                        <md-toolbar layout="row" class="md-hue-3">
                            <div class="md-toolbar-tools" style="width: 350px">
                                <!--
                                <a ng-click="information_panel = false;" style="float: left;" type="button"
                                   class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </a>
                                -->
                                <label class="md-raised">New Tip
                                </label>
                            </div>
                        </md-toolbar>

                        <div class="form-group">
                            <label for="descriptionTextArea">Tip</label>
                        <textarea maxlength="250" name="description" ng-model="message.text" class="form-control"
                                  id="descriptionTextArea"
                                  rows="6"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="descriptionTextArea">Latitude</label>
                        <textarea name="description" ng-model="message.lat" class="form-control"
                                  id="descriptionTextArea"
                                  rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="descriptionTextArea">Longitude</label>
                        <textarea name="description" ng-model="message.lng" class="form-control"
                                  id="descriptionTextArea"
                                  rows="1"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="descriptionTextArea">Date</label>
                            <datepicker date-min-limit="{{trip.dateStart.toString()}}"
                                        date-max-limit="{{trip.dateEnd.toString()}}" date-format="yyyy-MM-dd"
                                        datepicker-append-to-body=true>
                                <input name="tipDate" ng-model="message.time" class="form-control"
                                       type="date" required/>
                            </datepicker>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success" style="width: 100%" ng-click="addMessage()">Add Tip</button>
                        </div>
                    </div>
                </div>
            </div>

            <input type="submit" wz-next value="Next" class="btn btn-primary" ng-click="startExpense()"/>
            <input type="submit" value="Cancel" class="btn btn-danger" ng-click="showConfirm(null)"/>
        </wz-step>


        <wz-step wz-title="Trip expense">
            <h1>Expense</h1>





<div style="width: 200px; margin-bottom: 50px" >
          <md-input-container class="md-block" flex-gt-sm>
            <label>Type</label>
            <md-select ng-model="user.type">
              <md-option ng-repeat="type in expense.type" value="{{type}}">
                {{type}}
              </md-option>
            </md-select>
          </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
            <label>Currency</label>
            <md-select ng-model="user.currency">
              <md-option ng-repeat="currency in expense.currency" value="{{currency}}">
                {{currency}}
              </md-option>
            </md-select>
          </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Cost</label>
            <input ng-model="user.cost" required type="number" min="0" max="999999">
          </md-input-container>


    <div>
                <button type="button" class="btn btn-success" style="width: 100%" ng-click="addExpense()">Add Expense</button>
            </div>


    </div>


            <!-- List of expense items -->


                <md-content class="md-padding" layout-xs="column" layout="row">


                    <div flex-xs flex-gt-xs="50" layout="row" style="margin-bottom: 200px">
                        <md-card md-theme="default" md-theme-watch ng-repeat="expense_item in list_expense">
                            <md-card-title>
                                <md-card-title-text layout="column" >
                                    <span class="md-headline">{{expense_item.cost}} {{expense_item.currency}}</span>
                                    <span class="md-subhead">{{expense_item.type}}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-sm card-media"></div>
                                </md-card-title-media>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-warn" ng-click="removeExpense(expense_item.firebase_key)">Delete</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>



            <input type="submit" wz-next value="Finish" class="btn btn-success" ng-click="finishWizard()"/>
            <input type="submit" value="Cancel" class="btn btn-danger" ng-click="showConfirm($event)"/>
        </wz-step>
    </wizard>
</div>
