<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93092605-1', 'auto');
    ga('send', 'pageview');

</script>

<style>
    /* upload section */
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        height: 65px;
        text-align: center;
        padding-top: 25px;
        margin: 10px;
    }

    /* Google maps search */
    #pac-input #pac-input_tips {
        margin-top: 10px;
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
        height: 30px;
    }

    /* List of map drawing items */
    ol {
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* Remove default numbering */
        *list-style: decimal; /* Keep using default numbering for IE6/7 */
        font: 15px 'trebuchet MS', 'lucida sans';
        padding: 0;
        margin-bottom: 4em;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    }

    ol ol {
        margin: 0 0 0 2em; /* Add some left margin for inner lists */
    }

    .rounded-list a {
        width: 240px;
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: #ddd;
        color: #444;
        text-decoration: none;
        border-radius: .3em;
        transition: all .3s ease-out;
    }

    .rounded-list a:hover {
        background: #eee;
    }

    .rounded-list a:hover:before {
        transform: rotate(360deg);
    }

    .rounded-list a:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #87ceeb;
        height: 2em;
        width: 2em;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        transition: all .3s ease-out;
    }

    /* End of map drawing items */

    * {
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .container > div {
        padding: 20px;
        color: #fff;
        margin: 5px;
        flex: 0 0 calc(100% - 10px);
        text-align: center;
        font-size: 30px;
    }

    /* Tracks section */
    .fruits {
        order: 2;
        background: #ff5423;
    }

    .container div:not(.fruits) {
        order: 1;
        flex: 0 0 calc(50% - 10px);
    }

    .markers {
        background: #f970bd;
        height: 70%;
    }

    .map_draw {
        background: #049500;
        height: 70%;
    }


</style>

<div id="tripDerailsSection" style="margin-right: 150px; margin-left: 150px">

    <wizard name="karim" on-finish="finishedWizard()">

        <wz-step wz-title="Trip details">
            <h1>Enter trip details</h1>

            <div style="height: 70%">

                <form>
                    <div class="form-group">
                        <label for="tripNameLabel">Trip name</label>
                        <textarea ng-model="trip.name" class="form-control" id="tripNameLabel" rows="1"></textarea>
                    </div>

                    <div>
                        <label>Start date</label>
                        <datepicker date-format="MMMM d, y" datepicker-append-to-body=true>
                            <input name="inputStartDate" ng-model="trip.dateStart" class="form-control"
                                   type="text"
                            />
                        </datepicker>
                    </div>

                    <div>
                        <label>End date</label>
                        <datepicker date-format="MMMM d, y">
                            <!--    style="position: absolute; width: 100px; height: 150px;"> -->
                            <input name="inputEndDate" ng-model="trip.dateEnd" type="text" class="form-control"
                                   ng-blur="onBlur($event)"/>
                        </datepicker>
                    </div>


                    <div class="form-group">
                        <label for="continentSelect">Choose continent</label>
                        <select ng-model="trip.continents" class="form-control" id="continentSelect">
                            <option>Africa</option>
                            <option>Europe</option>
                            <option>Asia</option>
                            <option>Middle East</option>
                            <option>North America</option>
                            <option>South America</option>
                            <option>Antarctica</option>
                            <option>Australia</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tripTypeSelect">Trip type</label>
                        <select ng-model="trip.type" class="form-control" id="tripTypeSelect">
                            <option>Family</option>
                            <option>Solo</option>
                            <option>Friends</option>
                            <option>Group Tour</option>
                            <option>Caravan</option>
                            <option>Event Travel</option>
                            <option>Business Travel</option>
                            <option>Holiday</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="descriptionTextArea">Trip description</label>
                        <textarea ng-model="trip.description" class="form-control" id="descriptionTextArea"
                                  rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="coverPhotoInput">Cover photo</label>
                        <input type="file" class="form-control-file" id="coverPhotoInput" aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text
                            for
                            the above input. It's a bit lighter and easily wraps to a new line.
                        </small>
                    </div>


                    <fieldset class="form-group">
                        <legend>Options</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input ng-model="trip.private" type="radio" class="form-check-input"
                                       name="optionsRadios" id="optionsRadios1"
                                       value="private" checked>
                                Private
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input ng-model="trip.public" type="radio" class="form-check-input" name="optionsRadios"
                                       id="optionsRadios2"
                                       value="public">
                                Public
                            </label>
                        </div>

                    </fieldset>

                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </form>

            </div>


            <input type="submit" wz-next value="Next" class="btn btn-primary" ng-click="addTrip()"/>
        </wz-step>


        <wz-step wz-title="Trip photos">
            <h1>Upload your trip photos</h1>

            <div style="height: 70%" ngf-drop ngf-select ng-model="files" class="drop-box"
                 ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">

                <div style="height: 70%" ngf-drop ngf-select ng-model="files.files" class="drop-box"
                     ngf-drag-over-class="dragover"
                     ngf-multiple="true" ngf-allow-dir="true" accept="image/*">Drop images here
                    or click to upload
                </div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                Files:
                <ul>
                    <li ng-repeat="f in files.files" style="font:smaller">{{f.name}}</li>
                </ul>
                Upload Log:
                <pre>{{log}}</pre>
                <input type="submit" value="Upload" class="btn btn-primary" ng-click="upload()"/>
            </div>


            <input type="submit" wz-next value="Next" class="btn btn-primary" ng-click="startMapDrawing()"/>
        </wz-step>


        <wz-step wz-title="Trip tracks">

            <h1>Draw your trip tracks on map</h1>

            <div>


                <div class="container">

                    <div class="markers">
                        <ol class="rounded-list">
                            <li><a href="">Markers</a>
                                <ol>
                                    <li ng-repeat="marker in markers"
                                        ng-click="highLightItem(marker.get('type'),marker.get('id'))"><a href="">{{marker.get('id')}}
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"
                                          ng-click="deleteItemFromMap(marker.get('type'),marker.get('id'))"> </span>
                                    </a></li>
                                </ol>
                            </li>
                            <li><a href="">Polylines</a>
                                <ol>
                                    <li ng-repeat="polyline in polylines"
                                        ng-click="highLightItem(polyline.get('type'),polyline.get('id'))"><a href="">{{polyline.get('id')}}
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"
                                          ng-click="deleteItemFromMap(polyline.get('type'),polyline.get('id'))"> </span>
                                    </a></li>
                                </ol>
                            </li>
                            <li><a href="">Circles</a>
                                <ol>
                                    <li ng-repeat="circle in circles"><a
                                            ng-click="highLightItem(circle.get('type'),circle.get('id'))">{{circle.get('id')}}
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"
                                          ng-click="deleteItemFromMap(circle.get('type'),circle.get('id'))"> </span>
                                    </a></li>
                                </ol>
                            </li>
                        </ol>
                    </div>

                    <div class="map_draw">
                        <div id="map" style="height: 100%; width: 100%"></div>
                        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                    </div>

                </div>


            </div>


            <input type="submit" wz-next value="Next" class="btn btn-primary" ng-click="startMapTips()"/>

</wz-step>


<wz-step wz-title="Trip tips">
    <h1>Add your trip tips on the map</h1>

    <div id="map_tips" style="height: 70%;"></div>
    <input id="pac-input_tips" class="controls" type="text" placeholder="Search Box">

    <input type="submit" wz-next value="Next" class="btn btn-primary"/>
</wz-step>


<wz-step wz-title="Trip expense">
    <h1>Add your expense</h1>

    <input type="submit" wz-next value="Finish" class="btn btn-success"/>
</wz-step>
</wizard>
</div>
