
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-93092605-1', 'auto');
        ga('send', 'pageview');

    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/assets/css/style_tripList.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">

    <link media="all" rel="stylesheet" href="assets/css/welcome.css">

    <link src="/bower_components/ng-dialog/css/ngdialog-theme-plain.css">
    <link src="/bower_components/ng-dialog/css/ngDialog-custom-width.css">

    <link rel="stylesheet" href="/assets/css/trips.css">

    <link rel="stylesheet" th:href="@{/css/ngDialog.css}" href="/bower_components/ng-dialog/css/ngDialog.css">
    </link>
    <link rel="stylesheet" th:href="@{/css/ngDialog-custom-width.css}"
          href="/bower_components/ng-dialog/css/ngDialog-custom-width.css">
    </link>
    <link rel="stylesheet" th:href="@{/css/ngDialog-theme-default.css}"
          href="/bower_components/ng-dialog/css/ngDialog-theme-default.css">
    </link>
    <link rel="stylesheet" th:href="@{/css/ngDialog-theme-plain.css}"
          href="/bower_components/ng-dialog/css/ngDialog-theme-plain.css">
    </link>
    <style>



    </style>
</head>


<nit-advanced-searchbox style="position: fixed; width: 100%; z-index: 1"
        ng-model="searchParams"
        parameters="availableSearchParams"
        placeholder="Search...">
</nit-advanced-searchbox>


<!-- <section class="section" style="padding: 0px; background-color: #ffffff"> -->
<!--
    <h1 class="text-center" style="font-weight: 200;line-height: 55px;font-size: 34px; padding-top: 15px;padding-bottom: 10px;margin: 0px">Discover Adventures Around The World</h1>
    <md-button class="md-raised" ng-click="continentSelection('')">clear filter</md-button>
    <div class="flex-grid">
        <div class="flex-grid-item">
            <a href="" ng-click="continentSelection('North America')">
                <figure class="figure-container" style=" height: 100px; width: 270px">
                    <img src="assets/images/goldengate11.jpg" style="height: 100px; width: 270px"  alt="">
                    <figcaption><h2>North America</h2></figcaption>
                </figure>
            </a>
        </div>
        <div class="flex-grid-item" class="cont-img">
            <a href="" ng-click="continentSelection('Europe')">
                <figure class="figure-container" style="height: 100px; width: 270px">
                    <img src="assets/images/italy.jpg" style="height: 100px; width: 270px" alt="">
                    <figcaption><h2>Europe</h2></figcaption>
                </figure>
            </a>
        </div>
        <div class="flex-grid-item" class="cont-img">
            <a href="" ng-click="continentSelection('Asia')">
                <figure class="figure-container" style=" height: 100px; width: 270px">
                    <img src="assets/images/china.jpg" style=" height: 100px; width: 270px" alt="">
                    <figcaption><h2>Asia</h2></figcaption>
                </figure>
            </a>
        </div>
        <div class="flex-grid-item">
            <a href="" ng-click="continentSelection('Australia')">
                <figure class="figure-container" style=" height: 100px; width: 270px">
                    <img src="assets/images/sydney-opera.jpg" style=" height: 100px; width: 270px" alt="">
                    <figcaption><h2>Australia</h2></figcaption>
                </figure>
            </a>
        </div>
        <div class="flex-grid-item">
            <a href="" ng-click="continentSelection('Africa')">
                <figure class="figure-container" style=" height: 100px; width: 270px">
                    <img src="assets/images/africa.jpg" style=" height: 100px; width: 270px" alt="">
                    <figcaption><h2>Africa</h2></figcaption>
                </figure>
            </a>
        </div>
        <div class="flex-grid-item">
            <a href="" ng-click="continentSelection('South America')">
                <figure class="figure-container" style=" height: 100px; width: 270px">
                    <img src="assets/images/castillo-view.jpg" style=" height: 100px; width: 270px" alt="">
                    <figcaption><h2>South America</h2></figcaption>
                </figure>
            </a>
        </div>
        <div class="flex-grid-item">
            <a href="" ng-click="continentSelection('Antarctica')">
                <figure class="figure-container" style=" height: 100px; width: 270px">
                    <img src="assets/images/antarctic-a.jpg" style=" height: 100px; width: 270px" alt="Austin">
                    <figcaption><h2>Antarctica</h2></figcaption>
                </figure>
            </a>
        </div>
    </div>

    -->
<!-- </section> -->

<!--<div>
    <h1 class="text-center" style="font-weight: 200;line-height: 55px;font-size: 34px; margin-bottom: 0px; padding-top: 10px;padding-bottom: 10px">Browse authentic trips from Travellers around the world </h1>
</div>-->

<div class="container">

        <div class="wrapperr" ng-repeat="chunk in chunks">
            <div class="card">
                <div class="card-header" ng-style="{'background-image':'url( {{ chunk.cover }} )'}" ng-click="showActualMap(chunk.id)">
                    <div class="card-header-mask">
                        <div class="card-header-date" ng-style="{'background-image':'url( {{ chunk.picture }} )'}">
                            <div class="card-header-date-day">{{chunk.days}}</div>
                            <div class="card-header-date-month">Days</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-header" ng-click="showActualMap(chunk.id)">
                        <div class="card-body-header-category">{{ chunk.continent }}</div>
                        <h1>{{ chunk.title }}</h1>
                        <p class="card-body-header-sentence">
                            They call it <span>"</span>God's Own Country.<span>"</span>
                        </p>
                    </div>
                    <p class="card-body-description" style="word-wrap: break-word; height: 5em;" ng-click="showActualMap(chunk.id)">
                        {{ chunk.description }}
                        <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Molestias autem aliquid, recusandae maiores iste fuga,
                        explicabo dolor vitae magnam! -->
                    </p>
                    <div class="card-body-footer">
                        <i class="icon icon-time"></i> 6min. read
                        <i class="icon icon-comment"></i> 39 comments
                    </div>
                </div>
            </div>
        </div>
    <!--
    <div class="item">
        <div class="wrapperr">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-mask">
                        <div class="card-header-date">
                            <div class="card-header-date-day">12</div>
                            <div class="card-header-date-month">Days</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-header">
                        <div class="card-body-header-category">Trip</div>
                        <h1>True Paradise on Earth: Unknown Place</h1>
                        <p class="card-body-header-sentence">
                            They call it <span>"</span>God's Own Country.<span>"</span>
                        </p>
                    </div>
                    <p class="card-body-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Molestias autem aliquid, recusandae maiores iste fuga,
                        explicabo dolor vitae magnam!
                    </p>
                    <div class="card-body-footer">
                        <i class="icon icon-time"></i> 6min. read
                        <i class="icon icon-comment"></i> 39 comments
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

<!--
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
    -->
</div>






<!--<div id="trips" layout="column" layout-fill>
    &lt;!&ndash; This menu is popup menu important for study
    <md-toolbar scroll-shrink layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleMenu()">Menu</md-button>
            <h3>
                <span>Your trips</span>
            </h3>
        </div>
    </md-toolbar>
&ndash;&gt;
    <md-content layout="vertical" flex>
        &lt;!&ndash; LEFT SIDEBAR &ndash;&gt;
        <md-sidenav class="md-sidenav-left" md-component-id="left">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Options</h1>
            </md-toolbar>
            <md-content ng-controller="LeftCtrl" class="md-padding" flex layout="column" layout-align="start">
                <md-button ng-click="close()" class="md-primary">
                    <md-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                    Inbox
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    <md-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                    Snoozed
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    <md-icon icon="/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                    Done
                </md-button>
                <md-divider></md-divider>
            </md-content>
        </md-sidenav>


        &lt;!&ndash; MAIN CONTENT &ndash;&gt;
        <md-content id="main" layout="horizontal" layout-align="center" style="padding: 0px;">
            <md-list>
                <div id="content" style="padding-top: 0px">
                    <div ng-repeat="chunk in chunks | filter: {continent: continentSelected}" >
                        <p ng-if="chunk.divider">{{chunk.title}}</p>
                        <md-card ng-if="!chunk.expanded && !chunk.divider" ng-click="toggleChunkExpand(chunk)"
                                 ng-mouseover="hover = true" ng-mouseout="hover = false"
                                 ng-style="chunk.active === true ? { color:'green' } : { 'color': 'black' }">
                            <md-item layout="row">
                                <div>
                                    <img class="round-face" src="{{ chunk.picture }}"/>
                                </div>
                                <div class="collapsed-row" style="width: 900px;" layout="row" layout-align="start center" flex>
                                    <span flex="45"><b>{{ chunk.title }}</b></span>
                                    <span flex="45">{{ chunk.continent }}</span>
                                    <span flex="5"></span>
                                    <span flex="10" ng-if="hover"><md-icon
                                             md-svg-src="bower_components/material-design-icons/content/svg/production/ic_archive_24px.svg"
                                             style="width: 24px; height: 24px;"></md-icon></span>
                                </div>
                            </md-item>
                        </md-card>
                        <md-card ng-if="chunk.expanded && !chunk.divider" >
                            <div layout="column">
                                <div>
                                    <img class="round-face" src="{{ chunk.picture }}"/>
                                </div>
                                <md-card-content ng-click="toggleChunkExpand(chunk)">
                                    <img ng-src="{{chunk.coverPhotoUrl}}"/>

                                    <h2>{{ chunk.title }}</h2>

                                    <p>{{ chunk.description }}</p>

                                    <div ng-if="chunk.content && chunk.content.type === 'QUOTE'">
                                        <md-button ng-click="show_quotes = !show_quotes; $event.stopPropagation();">Show
                                            {{chunk.content.quotes.length}} more details
                                        </md-button>
                                    &lt;!&ndash;    <md-button
                                                ng-click="edit_mode = !edit_mode; editTrip(chunk.id);$event.stopPropagation();">
                                            Edit Trip Plan
                                        </md-button>&ndash;&gt;
                                        <md-button
                                                ng-click="edit_mode = !edit_mode; showActualMap(chunk.id);$event.stopPropagation();">
                                            Open trip
                                        </md-button>
                                        <md-button
                                                ng-click="edit_mode = !edit_mode; editTrip(chunk.id);$event.stopPropagation();">
                                            Share
                                        </md-button>

                                      &lt;!&ndash;  <md-button ng-click="activateTrip(chunk)">
                                            Active
                                        </md-button>

                                        <md-button class="md-warn"
                                                   ng-click="edit_mode = !edit_mode; deleteTrip(chunk.id);$event.stopPropagation();">
                                            Delete
                                        </md-button>&ndash;&gt;

                                        <div ng-if="show_quotes" ng-repeat="quote in ::chunk.content.quotes">
                                            <md-whiteframe class="md-whiteframe-z1">
                                                <blockquote>{{ quote }}</blockquote>
                                            </md-whiteframe>
                                        </div>
                                    </div>

                                </md-card-content>

                  &lt;!&ndash;              <div style="z-index: 100">
                                    <fieldset class="standard">
                                        <legend>Options:</legend>
                                        <div layout-wrap layout-gt-sm="row">
                                            <div flex-gt-sm="50">
                                                <md-checkbox ng-model="chunk.active" ng-change="activateTrip(chunk)" aria-label="Checkbox 1" class="md-primary">
                                                    Active trip
                                                </md-checkbox>
                                            </div>

                                            <div flex-gt-sm="50">
                                                <md-checkbox md-indeterminate ng-model="chunk.track_mode" ng-change="trackConfigMode(chunk)"
                                                             aria-label="Checkbox Indeterminate" class="md-primary">
                                                    Real-time tracking
                                                </md-checkbox>
                                            </div>

                                            <div flex-gt-sm="50">
                                                <md-checkbox md-indeterminate ng-model="chunk.public" ng-change="publicTrip(chunk)"
                                                             aria-label="Checkbox Indeterminate" class="md-primary">
                                                    Public
                                                </md-checkbox>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>&ndash;&gt;
                            </div>
                        </md-card>
                    </div>
                </div>
            </md-list>
        </md-content>
    </md-content>
</div>-->


<!-- FAB POPUP -->
<div id="fab-popup" layout="column" layout-align="space-between" ng-if="showAddButtons"
     ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_gesture_24px.svg"
                 style="width: 24px; height: 24px;"></md-icon>
        <!--<md-tooltip>-->
        <!--Add Quote-->
        <!--</md-tooltip>-->
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_content_paste_24px.svg"
                 style="width: 24px; height: 24px;"></md-icon>
        <!--<md-tooltip>-->
        <!--Add Text-->
        <!--</md-tooltip>-->
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_archive_24px.svg"
                 style="width: 24px; height: 24px;"></md-icon>
        <!--<md-tooltip>-->
        <!--Add Image-->
        <!--</md-tooltip>-->
    </md-button>
    <md-button class="md-fab md-raised" ng-click="openDialog($event);" aria-label="New document">
        <md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_mail_24px.svg"
                 style="width: 24px; height: 24px;"></md-icon>
        <!--<md-tooltip>-->
        <!--Add Video-->
        <!--</md-tooltip>-->
    </md-button>
</div>

<!-- HOVERING FAB -->
<!-- <md-button  class="md-fab md-raised" ng-click="showAddButtons = !showAddButtons;" aria-label="New document">
    <md-icon icon="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg" style="width: 24px; height: 24px;"></md-icon>
</md-button> -->

<!-- this button was used for the old flow, the planning flow were I was able to add cities / maps / table etc..
<md-button id="mainFab" class="md-fab md-raised" ng-click="openTripPlanPage($event)" aria-label="Photos">
    <md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg"
             style="width: 24px; height: 24px;"></md-icon>
</md-button>
-->

<!-- should be deleted - only in MyTrips users can create new trip -- add security check
<md-button id="mainFab" class="md-fab md-raised" ng-click="clickToOpen()" aria-label="Photos">
    <md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg"
             style="width: 24px; height: 24px;"></md-icon>
</md-button>
-->

<!-- the Original button -->
<!--
<md-button id="mainFab" class="md-fab md-raised" ng-click="showAddButtons = !showAddButtons;" aria-label="Photos">
    <md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg"
             style="width: 24px; height: 24px;"></md-icon>
</md-button>
-->

<!--
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/hammerjs/hammer.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/controllers/controllers.js"></script>
-->
