<head>
    <link rel="stylesheet" href="assets/css/style_realtime.css">
</head>


<table class="table table-striped">
    <col width="200px"/>
    <col width="1200px"/>
    <col width="200px"/>

    <tr>
        <td>
            <P style="text-decoration:underline;">Real-Time Tips from travellers

            <P>

            <div id="list">
                <ul infinite-scroll ajax-call="loadItems()" class="ul_list">
                    <li class="list-group-item" ng-repeat="item in data"><strong>{{item.id}}.</strong> {{item.name}}:
                        {{item.description}}
                    </li>
                </ul>
            </div>


        </td>

        <td>
            <P style="text-decoration:underline;">Find travellers around the world, learn, join and share ..

            <P>
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" data-ng-init="init()">


                    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                      geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable"
                                      icons='p.icons'></ui-gmap-polyline>


                    <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke"
                                    fill="c.fill"
                                    radius="c.radius"
                                    visible="c.visible" geodesic="c.geodesic" editable="c.editable"
                                    draggable="c.draggable"
                                    clickable="c.clickable" control="c.control"></ui-gmap-circle>

                </ui-gmap-google-map>

        </td>

        <td>
            <P style="text-decoration:underline;">Friends list:

            <P>

            <div id="list_friends">
                <ul infinite-scroll ajax-call="loadItems()" class="ul_list">
                    <li class="list-group-item" ng-repeat="item in data"><strong>{{item.id}}.</strong> {{item.name}}:
                        {{item.description}}
                    </li>
                </ul>
            </div>


        </td>
    </tr>


    <tr>
        <td></td>

    </tr>

</table>

