<!DOCTYPE html>
<head>
    <!--
    <link rel="stylesheet" href="assets/css/style_realtime.css">
    -->

    <style type="text/css">
        #map {
            height: 800px;
            width: 1800px;
            box-shadow: 3px 3px 10px gray;
        }
    </style>
</head>
<body>

<table class="table table-striped">
    <col width="500px"/>
    <col width="1300"/>
    <col width="300px" height="600px"/>

    <tr>
        <td>
            <P style="text-decoration:underline;">Travellers list
            <P>

            <div class="list-group" ng-repeat="item in data">
                <button type="button" class="list-group-item" id={{item.email}}
                        style="padding-left: 25px; background: url('../../assets/images/offline.png') left center/20px 20px no-repeat">{{item.name}}</button>
            </div>

        </td>

        <td>
            <P style="text-decoration:underline;">Find travellers around the world, learn, join and share ..
            <P>

            <div id="map"></div>

        </td>

        <td>
            <P style="text-decoration:underline;">Real-Time Tips from travellers

            <P>

                <div class="list-group" ng-repeat="tip in tips">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">{{tip.email}}</h4>
            <p class="list-group-item-text">{{tip.message}}</p>
            <p class="list-group-item-text">{{tip.timestamp}}</p>
            </a>

            </div>

        </td>
    </tr>
    <tr>
        <td></td>

    </tr>

</table>
