.widget_list_tips {
   /* position: absolute; */
    top: 100px;
    float: right;
    height: 550px;
    width: 300px;
    display: block;
}
.widget_list_friends {
    position: fixed;
    top: 65px;
    float: left;
    left: 10px;
    height: 550px;
    width: 270px;
    display: block;
}
.widget_photos {
    background: #99CCFF;
    width: 100%;
    height: 180px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.widget_map_realtime {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height: 300px;
}

.ul_list {
    /* max-height: 500px; */
    height: 550px;
    width: 270px;
    overflow: scroll;
    list-style-type: none;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
}

#list{
    overflow: auto;
}