<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93092605-1', 'auto');
    ga('send', 'pageview');

</script>
<!--
<meta property="og:url"                content="https://greatbear.io/#/trip/{{tripID}}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{tripName}}" />
<meta property="og:description"        content="{{tripDescription}}" />
<meta property="og:image"              content="http://tracker.photos.s3-website-us-west-2.amazonaws.com/1300x640/{{facebookId}}/{{tripID}}/cover" />
<meta property="fb:app_id"             content="942317529184852" />
-->
<link rel="stylesheet" href="/assets/css/trip.css">

<!-- <div>{{load_progress}}% Loading</div> -->

<div ng-show="!pathLoaded" style="position: absolute; top: 25%; right: 45%; margin-left: auto; margin-right: auto">
    <img src="../../assets/icons/TRACKER1-01_karim_crop.png" style="width: 250px; height: 150px; margin-left: 15px">
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{width: load_progress + '%'}"
             aria-valuenow={{load_progress}} aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{width: load_progress + '%'}"
             aria-valuenow={{load_progress}} aria-valuemin="0" aria-valuemax="100"></div>
        <div class="sr-only">{{trip.load_progress}}% Loading</div>
    </div>
</div>

<div class="container" ng-class="pathLoaded == false ? 'fade' : ''">


    <div class="left-side" style="overflow: auto; height: 65%" ng-show="drawing_panel">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <md-button class="md-raised">Drawing</md-button>
                <a ng-click="drawing_panel = false;" style="float: right;" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>
            </div>
        </md-toolbar>


        <!-- List of map items -->
        <div>

            <ol class="rounded-list">
                <li><a>Markers</a>
                    <ol>
                        <li ng-repeat="marker in markers" ng-click="highLightItem(marker.get('type'),marker.get('id'))">
                            <a href="javascript:void(0)">{{marker.get('id')}} <span class="glyphicon glyphicon-remove"
                                                                                    aria-hidden="true"
                                                                                    ng-click="deleteItemFromMap(marker.get('type'),marker.get('id'))"> </span>
                            </a></li>
                    </ol>
                </li>
                <li><a>Polylines</a>
                    <ol>
                        <li ng-repeat="polyline in polylines"
                            ng-click="highLightItem(polyline.get('type'),polyline.get('id'))"><a
                                href="javascript:void(0)">{{polyline.get('id')}} <span
                                class="glyphicon glyphicon-remove" aria-hidden="true"
                                ng-click="deleteItemFromMap(polyline.get('type'),polyline.get('id'))"> </span> </a></li>
                    </ol>
                </li>
                <li><a>Circles</a>
                    <ol>
                        <li ng-repeat="circle in circles" ng-click="highLightItem(circle.get('type'),circle.get('id'))">
                            <a href="javascript:void(0)"> {{circle.get('id')}} <span class="glyphicon glyphicon-remove"
                                                                                     aria-hidden="true"
                                                                                     ng-click="deleteItemFromMap(circle.get('type'),circle.get('id'))"> </span>
                            </a></li>
                    </ol>
                </li>
            </ol>
        </div>
        <!-- End of list of map items -->
    </div>

    <div class="center-side">

        <iframe id="iframe" style="height: 100%; width: 100%">
            <!-- from Controller I write the 2 below elements -->
            <!-- <div id="map"></div>
             <input id="pac-input" class="form-control" type="text" placeholder="Search Location" style="width: 200px">-->
        </iframe>


        <!-- Filter by day -->
        <div class="md-padding" ng-cloak style="position: absolute; top: 70px; background: white; margin: 5px">
            <div>
                <h1 class="md-title">Pick an day</h1>
                <div layout="row">
                    <md-input-container>
                        <label>Day</label>
                        <md-select ng-model="selectedItem">
                            <!-- <md-optgroup label="items"> -->
                            <md-option ng-value="day" ng-repeat="day in days" ng-click="filter_trip_paths_by_day(day)">
                                Day {{day}}
                            </md-option>
                            <!-- </md-optgroup> -->
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>

        <!-- Drawing panel -->
        <md-button ng-show="!drawing_panel" class="md-fab md-primary" aria-label="Drawing panel"
                   style="position: absolute; top: 30%"
                   ng-click="openDrawingPanel()">
            <image src="assets/icons/ic_format_paint_white_48dp_1x.png"
                   style="color: greenyellow; margin-left: -2px"></image>
        </md-button>

        <!-- Information panel -->
        <md-button ng-show="!information_panel" class="md-fab md-primary" aria-label="Information panel"
                   style="position: absolute; top: 25%; right: 0px" ng-click="openInformationPanel()">
            <image src="assets/icons/ic_info_white_48dp_1x.png" style="color: greenyellow; margin-left: -2px"></image>
        </md-button>

        <!-- Play path -->
        <md-button ng-show="!drawing_panel" class="md-fab md-primary" aria-label="Play path"
                   style="position: absolute; top: 40%;"
                   ng-click="runPathAnimation()">
            <image ng-src={{animate_button_icon}}
                   style="color: greenyellow; margin-left: -2px"></image>
        </md-button>

        <!-- Pano view -->
        <md-button ng-show="!drawing_panel" class="md-fab md-primary" aria-label="Pano view"
                   style="position: absolute; top: 47%;"
                   ng-click="panoView()">
            <image src="assets/icons/ic_directions_walk_white_48dp_1x.png"
                   style="color: greenyellow; margin-left: -2px"></image>
        </md-button>

        <!-- Edit view -->
        <!-- only for MyTrips page
        <md-button ng-show="!drawing_panel" class="md-fab md-primary" aria-label="Edit mode" style="position: absolute; top: 54%;"
                   ng-click="editModeSwitch()">
            <image src="assets/icons/ic_settings_white_48dp_1x.png"
                   style="color: greenyellow; margin-left: -2px"></image>
        </md-button>
        -->
        <!-- Photos view -->
        <md-button class="md-fab md-primary" aria-label="Photos" style="position: absolute; top: 75%;"
                   ng-click="photosSlider = !photosSlider">
            <image src="assets/icons/ic_camera_alt_white_48dp_1x.png"
                   style="color: greenyellow; margin-left: -2px"></image>
        </md-button>

        <!-- Show trip information-->
        <!-- ng-click="inforSlide = !inforSlide" -->
        <!--
            <div id="hp-ctn-howItWorks-information" ng-hide="editMode" >
                <img src="../../assets/images/information.png" width="40" height="40" style="margin-left:8px"/>
            </div>
        -->
        <!-- Show table-->
        <!-- ng-click="tableSlider = !tableSlider" ->
        <div id="hp-ctn-howItWorks-table"  ng-hide="editMode" ng-disabled="true">
            <img src="../../assets/images/table_icon2.svg" width="40" height="40" style="margin-left:8px"/>
        </div>

    <!--
    <md-progress-circular ng-disabled="!vm.activated" md-diameter="96" class="centered" ng-show="loading"></md-progress-circular>
    <div class="fluid"></div>
    -->


        <!-- Slider -->

        <!--
        <rzslider style="top: 90px; color: black;position: absolute;margin-left: 50px;margin-right: 50px;
        background: #333;
        border-radius: 10px;
        font-weight: bold;
        font-size: 30px;
        bottom: 20px;" rz-slider-model="slider.value"
                  rz-slider-options="slider.options"></rzslider>

-->
        <div id="pano"></div>

        <!-- Load photos from AWS S3 - disabled, instead sync with Facebook photos
        <td>
           <div id="status"></div>
            <il id="objects"></il>
            <ul id="rig">
                <li ng-repeat="photo in photos track by $index">
                    <a class="rig-cell" href="#" ng-click="showPhotoOnMap($event)">
                        <img class="rig-img" src="{{photo}}" style="width: 250px; height: 200px" >
                        <span class="rig-overlay"></span>
                        <span class="rig-text">show on map</span>
                    </a>
                </li>
            </ul>
        </td>
        -->
        <!-- id status used for AWS S3 status -->
        <!-- <div id="status"></div> -->
        <!-- side button photos-->
        <!--**************************** Photos *************************************-->
        <!-- Footer photos -->
        <div ng-show="photosSlider">
            <style>
                .demo {
                    list-style: none outside none;
                    padding-left: 0;
                }

                .demo li {
                    display: block;
                    float: left;
                    height: 65px;
                    margin-bottom: 6px;
                    margin-right: 6px;
                    width: 100px;
                }

                .demo img {
                    max-width: 100%;
                    height: auto;
                }

            </style>
            <div class="navbar navbar-default navbar-fixed-bottom"
                 style="bottom: 50px; overflow: scroll; background-color: inherit;right: 10%;left: 10%; width: 70%">
                <ul class="demo">
                    <li style="cursor: pointer;" lightgallery ng-repeat="photo in photos"
                        data-src="{{photo.fullres}}">
                        <img ng-src="{{photo.thumbnail}}" ng-mouseover=""/>
                        <!-- ng-mouseover="photoMouseOver($event)" -->
                    </li>
                </ul>
            </div>
        </div>
        <!-- We will make a simple accordian with hover effects
    The markup will have a list with images and the titles-->
        <div class="footer accordian" ng-show="photosSlider"
             style="width: 97% ;margin-top: 0px; margin-bottom: 5px; margin-left: 20px">
            <ul>
                <li ng-repeat="item in items">
                    <div class="image_title">
                        <a>Photo title</a>
                    </div>
                    <a ng-click="showPhotoOnMap($event)" href="javascript:void(0)">
                        <img ng-src="{{item.img}}"/>
                    </a>
                </li>
            </ul>
        </div>
        <!-- end facebook photos -->
        <!-- photos from aws -->
        <!--
        <div class="footer accordian" ng-show="photosSlider && awsProvider"
             style="width: 97% ;margin-top: 0px; margin-bottom: 5px; margin-left: 20px;">
            <ul>
                <li ng-repeat="photo in photos">
                    <div class="image_title">
                        <a href="#">Photo title</a>
                    </div>
                    <a ng-click="showPhotoOnMap($event)">
                        <img ng-src="{{photo}}" style="max-width:100%; max-height:100%;"/>
                    </a>
                </li>
            </ul>
        </div>
        -->
        <!-- End aws photos -->
        <!--********************************* Table ************************ -->
        <div style="margin-left: 55px" class="footer" class='animate-hide ' ng-hide="tableSlider">
            <table style="width:100%" class="table table-bordered">
                <tr>
                    <th> Activity / Day</th>
                    <td ng-hide="editMode" ng-repeat="day in table">{{Utils.keys(day)[0]}}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td ng-hide="editMode" ng-repeat="day in table">{{day[Utils.keys(day)[0]].date}}</td>
                    <td ng-show="editMode" ng-repeat="day in table">
                        <input value="{{day[Utils.keys(day)[0]].date}}">
                    </td>
                </tr>
                <tr>
                    <th>Flight</th>
                    <td ng-hide="editMode" ng-repeat="day in table">{{day[Utils.keys(day)[0]].flight}}</td>
                    <td ng-show="editMode" ng-repeat="day in table">
                        <input value="{{day[Utils.keys(day)[0]].flight}}">
                    </td>
                </tr>
                <tr>
                    <th>Hotel</th>
                    <td ng-hide="editMode" ng-repeat="day in table">{{day[Utils.keys(day)[0]].hotel}}</td>
                    <td ng-show="editMode" ng-repeat="day in table">
                        <input value="{{day[Utils.keys(day)[0]].hotel}}">
                    </td>
                </tr>
                <tr>
                    <th>Car</th>
                    <td ng-hide="editMode" ng-repeat="day in table">{{day[Utils.keys(day)[0]].car}}</td>
                    <td ng-show="editMode" ng-repeat="day in table">
                        <input value="{{day[Utils.keys(day)[0]].car}}">
                    </td>
                </tr>
                <tr>
                    <th>Action1</th>
                    <td ng-hide="editMode" ng-repeat="day in table">{{day[Utils.keys(day)[0]].action1}}</td>
                    <td ng-show="editMode" ng-repeat="day in table">
                        <input value="{{day[Utils.keys(day)[0]].action1}}">
                    </td>
                </tr>
                <tr>
                    <th>Action2</th>
                    <td ng-hide="editMode" ng-repeat="day in table">{{day[Utils.keys(day)[0]].action2}}</td>
                    <td ng-show="editMode" ng-repeat="day in table">
                        <input value="{{day[Utils.keys(day)[0]].action2}}">
                    </td>
                </tr>
                <tr>
                    <th>Expense</th>
                    <td ng-hide="editMode" ng-repeat="day in table">{{day[Utils.keys(day)[0]].expense}}</td>
                    <td ng-show="editMode" ng-repeat="day in table">
                        <input value="{{day[Utils.keys(day)[0]].expense}}">
                    </td>
                </tr>
                <tr>
                    <th>Delete</th>
                    <td ng-show="editMode" ng-repeat="day in table">
                        <button type="button" class="btn btn-danger">Delete Day!</button>
                    </td>
                </tr>
            </table>
        </div>
        <!-- ######################################################################### -->
        <!-- Edit Mode -->
        <!-- ######################################################################### -->

    </div>

    <!-- Information panel includes Tips + Places + Routes-->
    <div class="right-side" style="overflow: auto" ng-show="information_panel">
        <!-- Tips -->
        <div ng-cloak layout-gt-sm="row" layout="column">
            <div flex-gt-sm="100" flex>
                <md-toolbar layout="row" class="md-hue-3" style="position: fixed;">
                    <div class="md-toolbar-tools">
                        <md-button class="md-raised"
                                   ng-click="tips_button = false; places_button = true; routes_button = false">Places
                        </md-button>
                        <md-button class="md-raised"
                                   ng-click="tips_button = false; places_button = false; routes_button = true">Routes
                        </md-button>
                        <md-button class="md-raised"
                                   ng-click="tips_button = true; places_button = false; routes_button = false">Tips
                        </md-button>
                    </div>
                </md-toolbar>
                <!-- TIPS -->
                <md-content ng-show="tips_button" style="top: 60px">
                    <md-list flex>
                        <div style="height: 40px;">
                            <md-switch class="md-primary" style="position: fixed; z-index: 1" ng-model="tips_items"
                                       aria-label="Enable/Disable Routes" ng-change="!tips_items">
                                Tips
                            </md-switch>
                        </div>
                        <md-list-item ng-show="tips_items" class="md-3-line" ng-repeat="message in messages"
                                      ng-click="showMessageOnMap(message)">
                            <img ng-src="assets/icons/ic_message_black_48px.svg" class="md-avatar"/>
                            <div class="md-list-item-text" layout="column">
                                <h3 ng-if="message.message.tip">{{ message.message.tip }}</h3>
                                <h3 ng-if="message.message.risk">{{ message.message.risk }}</h3>
                                <h3 ng-if="message.message.price">{{ message.message.price }}</h3>
                                <h3 ng-if="message.message.invite">Invitation to join me..</h3>
                                <h4>{{message.time | date:'medium'}} </h4>
                                <!-- <p>{{ item.notes }}</p> -->
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
                <!-- Routes -->
                <md-content ng-show="routes_button" style="top: 60px">
                    <md-list flex>
                        <div style="height: 40px;">
                            <md-switch class="md-primary" style="position: fixed; z-index: 1"
                                       ng-model="routes_settings.enable_routes_map" aria-label="Enable/Disable Routes"
                                       ng-change="routesOnMap(routes_settings.enable_routes_map)">
                                Routes
                            </md-switch>
                        </div>
                        <md-list-item class="md-3-line" ng-repeat="route in routes_list track by $index"
                                      ng-click="" ng-show="routes_settings.enable_routes_map">
                            <img ng-src="assets/icons/ic_traffic_black_24dp_1x.png" class="md-avatar"/>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{route.routes[0].summary}}</h3>
                                <h4></h4>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>

                <!-- progress for loading places by Google API -->
                <md-content style="top: 60px" ng-hide="nearbyPlacesReady">
                    <md-list flex>
                        <md-list-item class="md-3-line">
                            {{iterateOverPathProgress || 0}}% scanning your path...
                        </md-list-item>
                        <md-list-item class="md-3-line">
                            {{iterateOverNearbyPlacesProgress || 0}}% get interesting places data...
                        </md-list-item>
                        <md-list-item>
                            <div layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="determinate"
                                                      value="{{iterateOverPathProgress/2 + iterateOverNearbyPlacesProgress/2}}"></md-progress-circular>
                            </div>
                            <h5>Loading places from path</h5>
                        </md-list-item>
                    </md-list>
                </md-content>

                <!-- Places content -->
                <md-content style="top: 60px" ng-show="places_button">
                    <md-list flex>
                        <div style="height: 40px;">
                            <md-switch class="md-primary" style="position: fixed;  z-index: 1"
                                       ng-model="routes_settings.enable_routes_map" aria-label="Enable/Disable Routes"
                                       ng-change="tipsOnMap(routes_settings.enable_routes_map)">
                                Places
                            </md-switch>
                        </div>
                        <md-list-item class="md-3-line" ng-repeat="place in nearbyPlaces track by $index"
                                      ng-click="">
                            <!--<img ng-src="{{place.icon}}" class="md-avatar"/>-->
                            <img ng-src="{{place.picture.data.url}}" class="md-avatar"/>

                            <div class="md-list-item-text" layout="column">
                                <h3>{{ place.name}}</h3>
                                <!--<h4>{{ place.formatted_address }} </h4>-->
                                <h4>Check-Ins: {{ place.checkins }} </h4>
                                <p>
                                    <!--<a ng-href="{{place.url}}" target="_blank">Read more...</a>-->
                                    <a ng-href="{{place.link}}" target="_blank">Read more...</a>
                                </p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </div>
        <!-- /////////////////////////////// End Information panel ///////////////////////////////-->
    </div>

    <!-- Footer Trip details -->
    <footer class="navbar navbar-default navbar-fixed-bottom"
            style="background-color: #1E1E1E; width: 100%; margin-right: 0px; right: 0px">
        <div class="container">
            <span class="text-muted" style="font-size: 18px; text-align: left; font-style: inherit">Trip name: {{tripName}} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Description: {{tripDescription}} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Date: {{dateStart}} - {{dateEnd}} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Continent: {{continent}}</span>
        </div>
    </footer>
