<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="view1\assets\css\main.css">
	<link rel="stylesheet" type="text/css" href="view1\assets\css\angulr-datepicker.css">
	<title>Contact Form</title>
	<style>.angular-google-map-container { height: 600px;}</style>


</head>

<body>

<aside id="sidebar">

    <section id="widget_1" class="widget_1">
    	  <form name="tripDefinitionForm" ng-controller="tripDefinitionCtrl">

	 		 <label>Trip name:</label>
     			 <input type="text" name="input" ng-model="tripName.text"
             ng-pattern="example.word" required ng-trim="false" ng-blur="onBlur($event)">

              <label>Start date:</label>
			<datepicker>
			  <input ng-model="date" type="text" />
			</datepicker>

       <label>End date:</label>
			<datepicker>
			  <input ng-model="date" type="text" />
			</datepicker>
      		

    		 <label>Destination 1:</label>
     			 <input type="text" name="input" ng-model="destination1.text"
           ng-pattern="example.word" required ng-trim="false" ng-blur="onBlur($event)">

            		 <label>Destination 2:</label>
     			 <input type="text" name="input" ng-model="destination2.text"
           ng-pattern="example.word" required ng-trim="false" ng-blur="onBlur($event)">

            		 <label>Destination 3:</label>
     			 <input type="text" name="input" ng-model="destination3.text"
           ng-pattern="example.word" required ng-trim="false" ng-blur="onBlur($event)">

                       		 <label>Destination 4:</label>
     			 <input type="text" name="input" ng-model="destination.text"
           ng-pattern="example.word" required ng-trim="false" ng-blur="onBlur($event)">
    		      		
    		      		<!--  <addbuttonsbutton></addbuttonsbutton>
    		  <div id="space-for-input">
    -->


<!--
    		  <div ng-controller="NumberPicker" class="container">
  				  <h-number value="input.num" min="2" max="50" step="1" change="onChanged()"></h-number>
			  </div>
-->

   </form>
    </section>


    <section id="widget_2" class="widget_2">
    	<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
     			 <marker ng-repeat="marker in markers" coords="marker.coords" idKey="marker.idKey"></marker>
    	</ui-gmap-google-map>



    </section>


    <section id="widget_3" class="widget_3"></section>
</aside>

    <header class="body">
    </header>


    <footer class="body">
    </footer>

</body>

</html>