<P>View 1 : Planning
<P>

    <aside id="sidebar">

        <section id="widget_1" class="widget_1">
            <form name="tripDefinitionForm">

                <label class="label1">TRIP </label>

                <label class="label1">Trip name:</label>
                <input type="text" name="inputTripName" ng-model="tripName"
                       ng-pattern="example.word" required ng-trim="false" ng-blur="onBlur($event)">

                <label class="label1">Description:</label>
                <input class="inputDesc" type="text" name="inputTripDesc" ng-model="tripDescription"
                       ng-pattern="example.word" required ng-trim="false" ng-blur="onBlur($event)">

                <label class="label1">Start date:</label>
                <datepicker>
                    <input name="inputStartDate" ng-model="dateStart" type="text" ng-blur="onBlur($event)"/>
                </datepicker>

                <label class="label1">End date:</label>
                <datepicker>
                    <input name="inputEndDate" ng-model="dateEnd" type="text" ng-blur="onBlur($event)"/>
                </datepicker>

                <div ng-repeat="dest in destinations">
                    <label class="label1">Destination {{$index + 1}}:</label>
                    <input type="text" name="inputDest{{$index + 1}}" ng-model="dest.city" ng-blur="onBlur(dest)">
                </div>

                <button ng-click="addNewDestination()">Add new city</button>


                <!-- <div id="space-for-input"> -->


                <!--
                              <div ng-controller="NumberPicker" class="container">
                                    <h-number value="input.num" min="2" max="50" step="1" change="onChanged()"></h-number>
                              </div>
                -->

            </form>
        </section>


        <section id="widget_2" class="widget_2">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">

                <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill"
                                radius="c.radius"
                                visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable"
                                clickable="c.clickable" control="c.control"></ui-gmap-circle>

            </ui-gmap-google-map>

        </section>


        <section id="widget_3" class="widget_3">

            <table st-table="rowCollection" data-toggle="table" calss="table-bordered">
                <thead>
                <tr>
                    <th><label class="label1">Task/Day</label></th>
                    <th><label class="label1">Day 1</label></th>
                    <th><label class="label1">Day 2</label></th>
                    <th><label class="label1">Day 3</label></th>
                    <th><label class="label1">Day 4</label></th>
                    <th><label class="label1">Day 5</label></th>
                    <th><label class="label1">Day 6</label></th>
                    <th><label class="label1">Day 7</label></th>
                    <th><label class="label1">Day 8</label></th>
                    <th><label class="label1">Day 9</label></th>
                    <th><label class="label1">Day 10</label></th>
                    <th><label class="label1">Day 11</label></th>
                    <th><label class="label1">Day 12</label></th>
                </tr>
                <tr>
                    <td><label class="label1">City</label></td>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>

                </tr>

                <tr>
                    <td><label class="label1">Flight</label></td>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>

                </tr>

                <tr>
                    <td><label class="label1">Hotel</label></td>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>

                </tr>

                <tr>
                    <td><label class="label1">Car</label></td>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>

                </tr>

                <tr>
                    <td><label class="label1">Action 1</label></td>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>

                </tr>

                <tr>
                    <td><label class="label1">Action 2</label></td>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">Iceland</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>
                    <th><label class="label1">London</label></th>

                </tr>


                </thead>
            </table>


        </section>
    </aside>
