<style type="text/css">
    #map {
        height: 600px;
        width: 1400px;
        box-shadow: 3px 3px 10px gray;
    }
</style>

<aside id="sidebar">

    <table class="table table-striped">
        <col width="550px"/>
        <col width="1000px"/>
        <col width="900px"/>

        <tr>
            <td>
                <form name="tripDefinitionForm" style="overflow:scroll; height: 600px; width: 400px">
                    <table  border="0" style="text-align: center;">
                        <col width="150px"/>
                        <col width="200px"/>
                        <tr>


                            <td><label class="label1">Trip name:</label></td>
                            <td><input type="text" name="inputTripName" ng-model="tripName" class="form-control"
                                       ng-pattern="example.word" ng-blur="onBlur($event)">
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label class="label1">Description:</label>
                            </td>
                            <td>
                                <input type="text" name="inputTripDesc" class="form-control" ng-model="tripDescription"
                                       ng-pattern="example.word" ng-blur="onBlur($event)">

                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label class="label1">Start date:</label>
                            </td>
                            <td>
                                <datepicker date-format="MMMM d, y" datepicker-append-to-body=true >
                                    <input name="inputStartDate" ng-model="dateStart" class="form-control" type="text"
                                    />
                                </datepicker>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <label class="label1">End date:</label>
                            </td>
                            <td>
                                <datepicker date-format="MMMM d, y">
                                    <!--    style="position: absolute; width: 100px; height: 150px;"> -->
                                    <input name="inputEndDate" ng-model="dateEnd" type="text" class="form-control"
                                           ng-blur="onBlur($event)"/>
                                </datepicker>
                            </td>
                        </tr>

                    </table>

                    <table ng-repeat="dest in destinations"  border="0">
                        <col width="150px"/>
                        <col width="150px"/>
                        <tr>
                            <td style="width: 150px">
                                <label class="label1">Destination {{$index + 1}}:</label>
                            </td>
                            <td style="width: 100px">
                                <!--
                                <input type="text" name="inputDest{{$index + 1}}" ng-model="dest.city"
                                       ng-blur="onBlur(dest)">
                                 -->
                                <input type="text" name="inputDest{{$index + 1}}" id="Autocomplete" class="form-control"
                                       ng-autocomplete ng-model="dest.city"/>


                            </td>
                            <td style="width: 50px">
                                <label class="label1">Days:</label>
                            </td>
                            <td style="width: 50px">
                                <input style="width: 45px" type="text" name="inputDays{{$index + 1}}"
                                       class="form-control" ng-model="dest.days"
                                       ng-blur="onBlur(dest)">
                            </td>
                        </tr>
                        <tr>

                        </tr>
                    </table>


                    <button class="btn btn-info" ng-click="addNewDestination()">Add new city</button>

                </form>

            </td>
            <td>

                <div id="map"></div>
            </td>

        </tr>

        <tr>

            <!-- I think no need for usersTable, I am using $scope.items instead -->
            <table ng-table="usersTable" class="table table-striped"
                   style="text-align: center; overflow:scroll; height:200px; width: 1000px" border="0">
                <tr>
                    <td>Date</td>
                    <td ng-repeat="item in table track by $index">{{item.date}}</td>
                </tr>

                <tr>
                    <td>Day</td>
                    <td ng-repeat="item in table">{{item.day}}</td>
                </tr>

                <tr>
                    <td>City</td>
                    <td ng-repeat="item in table">{{item.city}}</td>
                </tr>

                <tr>
                    <td>Flight</td>
                    <td ng-repeat="flights in table track by $index">
                        <!-- Split button -->

                        <div ng-if="flights.flight.flight != false " class="btn-group dropdown">
                            <button type="button" class="btn btn-info" style="width: 200px">Select Flight</button>
                            <button type="button" class="btn btn-info dropdown-toggle" id="mydp" data-toggle="dropdown"
                                    aria-haspopup="true">
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="mydp" style="width: 200px">
                                <div ng-repeat="tickets in flights.flight.tickets track by $index">
                                    <li class="divider"></li>
                                    <li><a href="#">{{tickets.config.data.origin}} ->
                                        {{tickets.config.data.destination}}</a>
                                    </li>

                                    <li ng-repeat="ticket in tickets.data.trips.tripOption track by $index">
                                        {{ticket.saleTotal}}<a href="#"></a>
                                    </li>
                                </div>
                            </ul>
                        </div>

                        <label ng-if="item == false">
                            Flight not required!
                        </label>


                    </td>
                </tr>

                <tr>
                    <td>Hotel</td>
                    <td ng-repeat="item in table">
                        <!-- Split button -->
                        <div class="btn-group" dropdown>
                            <button type="button" style="width: 200px" class="btn btn-info">Get Hotel</button>
                            <button type="button" class="btn btn-info dropdown-toggle">
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Car</td>
                    <td ng-repeat="item in table">
                        <!-- Split button -->
                        <div class="btn-group" dropdown>
                            <button type="button" style="width: 200px" class="btn btn-info"> Get Car</button>
                            <button type="button" class="btn btn-info dropdown-toggle">
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tr>

                <tr>
                    <td>Action1</td>
                    <td align="center" ng-repeat="item in table">

                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-info" style="width: 200px">Select Action</button>
                            <button type="button" class="btn btn-info dropdown-toggle" id="actions"
                                    data-toggle="dropdown" aria-haspopup="true">
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="mydp" style="width: 200px">
                                <li><a href="#">Actions</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Expense</td>
                    <td align="center" ng-repeat="item in table">
                        <input class="form-control" style="width: 230px; height: 60px" type="text" name="input"
                               ng-model="action.text"
                               ng-pattern="example.word" required ng-trim="false">
                    </td>
                </tr>
            </table>

        </tr>

    </table>


</aside>
