<aside id="sidebar">

    <section id="widget_1" class="widget_1">
    	  <form name="tripDefinitionForm">

	 		 <label>Trip name:</label>
     			 <input type="text" name="input" ng-model="tripName.text"
             ng-pattern="example.word" required ng-trim="false" ng-blur="onBlur($event)">

              <label>Start date:</label>
			<datepicker>
			  <input ng-model="date" type="text" />
			</datepicker>

       <label>End date:</label>
			<datepicker>
			  <input ng-model="date" type="text" />
			</datepicker>
      <div ng-repeat="dest in destinations">
            <label>Destination {{$index + 1}}:</label>
            <input type="text" name="input" ng-model="dest.city" ng-blur="onBlur(dest)">
      </div>

      <button ng-click="addNewDestination()">Add new</button>


    		  <div id="space-for-input">



<!--
    		  <div ng-controller="NumberPicker" class="container">
  				  <h-number value="input.num" min="2" max="50" step="1" change="onChanged()"></h-number>
			  </div>
-->

   </form>
    </section>


    <section id="widget_2" class="widget_2">
    	<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
     			 <marker ng-repeat="marker in markers" coords="marker.coords" idKey="marker.idKey"></marker>
    	</ui-gmap-google-map>



    </section>


<!--     <section id="widget_3" class="widget_3"></section> -->
</aside>
